.cards-bookmark-container{
    display: grid;
    grid-template-columns: 7fr 4fr ;
    grid-gap: 24px;
}

@media screen and (max-width: 640px) {
    .cards-bookmark-container{
        display: flex;
        flex-direction: column ;
        gap: 10px;
    }
  }

  @font-face {
    /* font-family: myFirstFont; */
    font-family: 'Exo 2', sans-serif;
    src: url(../public/Exo2-VariableFont_wght.ttf);
  }

.custom-font{
    font-family: 'Exo 2', sans-serif;
}

